{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
{% block Title %}

<title>About Us</title>
    {% endblock %}
</head>
{% block body %}
<body class="page wide top_panel_above usermenu_show">


	<div class="main_content">
		<div class="boxedWrap">



			<div id="topOfPage" class="topTabsWrap">
				<div class="main">
					<div class="speedBar">
						<a class="home" href="/">Home</a>

						<span class="breadcrumbs_delimiter"> / </span>
						<span class="current">About Us</span>
					</div>
					<h3 class="pageTitle h3">About Us</h3>
				</div>
			</div>

			<div class="mainWrap without_sidebar">
				<div class="main" role="main">
					<div class="content">
						<div class="itemscope" itemscope itemtype="http://schema.org/Article">
							<section class="post postAlter no_margin page">
								<article class="post_content">
									<div class="post_text_area" itemprop="articleBody">
										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="wpb_wrapper">
													<div class="columnsWrap column_block sc_columns no_margin sc_columns_count_2">
														<div class="columns1_2 sc_column_item sc_column_item_1 odd first">
															<figure class="sc_image  sc_image_shape_square">
																<img src="{% static 'images/logo.jpeg' %}" alt=""/>
															</figure>
														</div>
														<div class="columns1_2 sc_column_item sc_column_item_2 even">
															<h1 class="sc_title sc_title_regular sc_left">Our Company's Story</h1>
															<div class="wpb_text_column wpb_content_element ">
																<div class="wpb_wrapper">
																	<p>Launched in 2010, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos. </p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="wpb_wrapper">
													<h2 class="sc_title sc_title_regular sc_aligncenter margin_top_middle margin_bottom_small">Meet Our Team</h2>
													<div class="sc_team">
														<div class="sc_columns columnsWrap">
															<div class="columns1_4" data-animation="animated fadeInUp">
																<div class="sc_team_item sc_team_item_1 odd first">
																	<div class="sc_team_item_avatar">
																		<img alt="02.jpg" src="{% static 'images/t1.jpeg' %}">
																		<div class="sc_team_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
																	</div>
																	<div class="sc_team_item_info">
																		<h3 class="sc_team_item_title">
																		<a href="#">Keshav somani</a>
																		</h3>
																		<div class="sc_team_item_position theme_accent2">Manager</div>
																		<ul class="sc_team_item_socials">
																			<li>
																				<a href="#" class="social_icons icon-twitter" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-facebook" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-gplus" target="_blank">
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="columns1_4" data-animation="animated fadeInUp">
																<div class="sc_team_item sc_team_item_2 even">
																	<div class="sc_team_item_avatar">
																		<img alt="03.jpg" src="{% static 'images/t2.jpeg' %}">
																		<div class="sc_team_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
																	</div>
																	<div class="sc_team_item_info">
																		<h3 class="sc_team_item_title">
																		<a href="#">Devansh Dashora</a>
																		</h3>
																		<div class="sc_team_item_position theme_accent2">Construction Worker</div>
																		<ul class="sc_team_item_socials">
																			<li>
																				<a href="#" class="social_icons icon-facebook" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-twitter" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-gplus" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-dribbble" target="_blank">
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="columns1_4" data-animation="animated fadeInUp">
																<div class="sc_team_item sc_team_item_3 odd">
																	<div class="sc_team_item_avatar">
																		<img alt="01.jpg" src="{% static 'images/t3.jpeg' %}">
																		<div class="sc_team_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
																	</div>
																	<div class="sc_team_item_info">
																		<h3 class="sc_team_item_title">
																		<a href="#">Akshat</a>
																		</h3>
																		<div class="sc_team_item_position theme_accent2">Interior Designer</div>
																		<ul class="sc_team_item_socials">
																			<li>
																				<a href="#" class="social_icons icon-facebook" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-twitter" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-gplus" target="_blank">
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
															<div class="columns1_4" data-animation="animated fadeInUp">
																<div class="sc_team_item sc_team_item_4 even">
																	<div class="sc_team_item_avatar">
																		<img alt="04.jpg" src="{% static 'images/t4.jpeg' %}">
																		<div class="sc_team_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
																	</div>
																	<div class="sc_team_item_info">
																		<h3 class="sc_team_item_title">
																		<a href="#">Vineet</a>
																		</h3>
																		<div class="sc_team_item_position theme_accent2">Exterior Designer</div>
																		<ul class="sc_team_item_socials">
																			<li>
																				<a href="#" class="social_icons icon-facebook" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-dribbble" target="_blank">
																				</a>
																			</li>
																			<li>
																				<a href="#" class="social_icons icon-gplus" target="_blank">
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="sc_line sc_line_style_solid margin_bottom_large"></div>
												</div>
											</div>
										</div>

										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="wpb_wrapper">
													<div class="columnsWrap sc_columns sc_columns_count_3">
														<div class="columns2_3 sc_column_item sc_column_item_1 odd first span_2" data-animation="animated fadeInUp">
															<h2>Repair skills</h2>
															<div class="sc_skills sc_skills_arc" data-type="arc" data-subtitle="Skills">
																<div class="sc_skills_legend">
																	<ul>
																		<li>Maintenance</li>
																		<li>Plumbing</li>
																		<li>Carpentry</li>
																		<li>Wiring</li>
																		<li>Electric</li>
																	</ul>
																</div>
																<div id="sc_skills_diagram" class="sc_skills_arc_canvas"> </div>
																<div class="sc_skills_data">
																	<div class="arc">
																		<input type="hidden" class="text" value="Maintenance"/>
																		<input type="hidden" class="percent" value="95"/>
																		<input type="hidden" class="color" value="rgba(241,0,0,1)"/>
																	</div>
																	<div class="arc">
																		<input type="hidden" class="text" value="Plumbing"/>
																		<input type="hidden" class="percent" value="90"/>
																		<input type="hidden" class="color" value="rgba(0,241,0,0.9)"/>
																	</div>
																	<div class="arc">
																		<input type="hidden" class="text" value="Carpentry"/>
																		<input type="hidden" class="percent" value="80"/>
																		<input type="hidden" class="color" value="rgba(0,0,241,0.8)"/>
																	</div>
																	<div class="arc">
																		<input type="hidden" class="text" value="Wiring"/>
																		<input type="hidden" class="percent" value="53"/>
																		<input type="hidden" class="color" value="rgba(0,0,0,241)"/>
																	</div>
																	<div class="arc">
																		<input type="hidden" class="text" value="Electric"/>
																		<input type="hidden" class="percent" value="90"/>
																		<input type="hidden" class="color" value="rgba(50,50,50,50)"/>
																	</div>
																</div>
															</div>
														</div>
														<div class="columns1_3 sc_column_item sc_column_item_3 odd after_span_2" data-animation="animated fadeInUp">
															<h2 class="sc_title sc_title_regular">Our language skills</h2>
															<div class="sc_skills sc_skills_bar sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal">
																<div class="sc_skills_info">English</div>
																<div class="sc_skills_info">98%</div>
																<div class="sc_skills_item sc_skills_style_1 odd first">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="10" data-duration="980" data-ed="%">0%</div>
																	</div>
																</div>
																<div class="sc_skills_info">Spanish</div>
																<div class="sc_skills_info">66%</div>
																<div class="sc_skills_item sc_skills_style_1 even">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="66" data-step="1" data-max="100" data-speed="31" data-duration="2046" data-ed="%">0%</div>
																	</div>
																</div>
																<div class="sc_skills_info">French</div>
																<div class="sc_skills_info">87%</div>
																<div class="sc_skills_item sc_skills_style_1 odd">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="87" data-step="1" data-max="100" data-speed="38" data-duration="3306" data-ed="%">0%</div>
																	</div>
																</div>
																<div class="sc_skills_info">Latin</div>
																<div class="sc_skills_info">82%</div>
																<div class="sc_skills_item sc_skills_style_1 even">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="82" data-step="1" data-max="100" data-speed="24" data-duration="1968" data-ed="%">0%</div>
																	</div>
																</div>
																<div class="sc_skills_info">Others</div>
																<div class="sc_skills_info">76%</div>
																<div class="sc_skills_item sc_skills_style_1 odd">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="76" data-step="1" data-max="100" data-speed="14" data-duration="1064" data-ed="%">0%</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="sc_line sc_line_style_solid margin_top_small margin_bottom_large">
													</div>
												</div>
											</div>
										</div>

										<div class="vc_row wpb_row vc_row-fluid">
											<div class="wpb_column vc_column_container vc_col-sm-12">
												<div class="wpb_wrapper">
													<h2 class="sc_title sc_title_regular" style="text-align:center;" data-animation="animated fadeInUp">Services</h2>
													<div class="sc_skills sc_skills_counter" data-type="counter" data-subtitle="Skills" data-animation="animated fadeInUp">
														<div class="columnsWrap sc_skills_columns">
															<div class="sc_skills_column columns1_5">
																<div class="sc_skills_item sc_skills_style_2 odd first">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="68" data-step="1" data-max="100" data-speed="13" data-duration="884" data-ed="%">0%</div>
																	</div>
																	<div class="sc_skills_info">Wiring</div>
																	<div class="sc_skills_info">68%</div>
																</div>
															</div>
															<div class="sc_skills_column columns1_5">
																<div class="sc_skills_item sc_skills_style_2 even">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="72" data-step="1" data-max="100" data-speed="15" data-duration="1080" data-ed="%">0%</div>
																	</div>
																	<div class="sc_skills_info">Tiling</div>
																	<div class="sc_skills_info">72%</div>
																</div>
															</div>
															<div class="sc_skills_column columns1_5">
																<div class="sc_skills_item sc_skills_style_2 odd">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="98" data-step="1" data-max="100" data-speed="26" data-duration="2548" data-ed="%">0%</div>
																	</div>
																	<div class="sc_skills_info">Electrical</div>
																	<div class="sc_skills_info">98%</div>
																</div>
															</div>
															<div class="sc_skills_column columns1_5">
																<div class="sc_skills_item sc_skills_style_2 even">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="45" data-step="1" data-max="100" data-speed="21" data-duration="945" data-ed="%">0%</div>
																	</div>
																	<div class="sc_skills_info">Plumbing</div>
																	<div class="sc_skills_info">45%</div>
																</div>
															</div>
															<div class="sc_skills_column columns1_5">
																<div class="sc_skills_item sc_skills_style_2 odd">
																	<div class="sc_skills_count">
																		<div class="sc_skills_total" data-start="0" data-stop="78" data-step="1" data-max="100" data-speed="37" data-duration="2886" data-ed="%">0%</div>
																	</div>
																	<div class="sc_skills_info">Carpentry</div>
																	<div class="sc_skills_info">78%</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>


									</div>
								</article>
							</section>  
						</div>    
					 
					</div>  
				</div>
			</div>


		</div> 
	</div> 

	<div id="preloader" class="preloader">
	    <div class="preloader_image"></div>
	</div>

{% endblock %}

</body>
</html>