{% extends 'basic.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
{% block Title %}

<title>M2 | House Repair Services</title>
    {% endblock %}
</head>
{% block body %}
<body class="home page fullscreen top_panel_above sidemenu_left usermenu_show">



	
	<div class="main_content">
		<div class="boxedWrap">



			<div id="mainslider_1" class="sliderHomeBullets staticSlider slider_engine_revo slider_alias_rev-hr2">
				<div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">

					<div id="rev_slider_1" class="rev_slider fullwidthabanner">
						<ul>
							<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

								<img src="{% static 'images/l1.jpg' %}" alt="slide2_1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


								<div class="tp-caption hr-sl2-text sfl tp-resizeme" data-x="right" data-hoffset="-27" data-y="center" data-voffset="-137" data-speed="500" data-start="500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Learn how our<br/>
								</div>

								<div class="tp-caption hr-sl2-text sft tp-resizeme" data-x="right" data-hoffset="-107" data-y="center" data-voffset="-68" data-speed="500" data-start="1000" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">design-build<br/>
								</div>

								<div class="tp-caption hr-sl2-text sfr tp-resizeme" data-x="right" data-hoffset="-129" data-y="center" data-voffset="0" data-speed="500" data-start="1500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">remodeling<br/>
								</div>

								<div class="tp-caption hr-sl2-text sfb tp-resizeme" data-x="right" data-hoffset="-43" data-y="center" data-voffset="68" data-speed="500" data-start="2000" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">process makes<br/>
								</div>

								<div class="tp-caption hr-sl2-text sfl tp-resizeme" data-x="right" data-hoffset="-11" data-y="center" data-voffset="135" data-speed="500" data-start="2500" data-easing="Strong.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">your life easier
								</div>
							</li>

							<li data-transition="random" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

								<img src="{% static 'images/l2.jpg' %}" alt="slide2_2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


								<div class="tp-caption hr-sl2-text tp-fade tp-resizeme" data-x="right" data-hoffset="-10" data-y="center" data-voffset="-25" data-speed="1500" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Transforming<br/>
									Homes and <br/>
									Building Clients <br/>
									For Life<br/>
								</div>


							</li>

							<li data-transition="slideup,slidedown,slideright,slideleft,fade,zoomout,zoomin" data-slotamount="7" data-masterspeed="300" data-thumb="images/slider/320x200.png" data-saveperformance="off" data-title="Slide">

								<img src="{% static 'images/l3.jpg' %}" alt="slide2_3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">


								<div class="tp-caption hr-sl2-text randomrotate tp-resizeme" data-x="right" data-hoffset="-10" data-y="center" data-voffset="-35" data-speed="1500" data-start="500" data-easing="easeInOutBack" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300">Register Now<br/>
									for our FREE Design<br/>
									and Remodeling <br/>
									seminar!
								</div>


							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="mainWrap without_sidebar">
				<div class="content">
					<div class="itemscope" itemscope itemtype="http://schema.org/Article">
						<section class="post postAlter no_margin page type-page status-publish hentry">
							<article class="post_content">
								<div class="post_text_area" itemprop="articleBody">
									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="wpb_wrapper">
												<div class="sc_content main">
													<h1 class="sc_title sc_aligncenter sc_title_regular" data-animation="animated fadeInUp">Services</h1>
													<h3 class="sc_undertitle sc_aligncenter sc_title_regular margin_bottom_small" data-animation="animated fadeInUp">Remodeling and Home Design</h3>
													<div class="sc_section sc_aligncenter">
														<div class="columnsWrap sc_columns sc_columns_count_3 margin_bottom_big" data-animation="animated fadeInUp">
															<div class="columns1_3 sc_column_item sc_column_item_1 odd first">
																<a href="/Maintenance_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-tools sc_title_bg sc_bg_animated">

																			</div>
																			<h5 class="sc_title sc_title_iconed">Maintenance</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Garage Door Repair. Carpentry. Termite Damage <br/>Repairs. Tub and shower caulking. Doors. <br/>Fences. Weatherproofing&#8230;</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>

															<div class="columns1_3 sc_column_item sc_column_item_2 even">
																<a href="/Wiring_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-wired sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Wiring</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Electrical. Cable TV. Internet. Network. Low<br/> Voltage. Door Bells. Home Theater. Sprinkler<br/> Systems. Phone Jacks. Computers.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_3 odd">
																<a href="/Tiling_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-construction3 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Tiling</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Kitchens. Baths. Back Splashes. Floors. <br/> Grout. Grout Repair. Grout sealing.<br/> Tile repair. Showers. Walls</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
														</div>
														<div class="columnsWrap sc_columns sc_columns_count_3" data-animation="animated fadeInUp">
															<div class="columns1_3 sc_column_item sc_column_item_1 odd first">
																<a href="/Audio_visual_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-widescreen sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Audio/Visual</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Home Theater Installation. Flat Panel TV<br/> Installation. Projectors. Sound Systems.<br/> Surround Sound.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_2 even">
																<a href="/Electrial_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-electric38 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Electrical</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Switches. Dimmers. Outlets. Recessed<br/> Lighting. Light Fixture Installation. Ceiling<br/> Fans. Ground Fault Outlet Installation.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_3 odd">
																<a href="/Plumbing_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-faucet1 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Plumbing</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Leaks Repaired. Faucet Installation. Toilet<br/> Repair/Replacement. Faucet Leaks. Shut Off<br/> Valves. Kitchens. Toilet Repairs&#8230;</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="wpb_wrapper">
												<div class="sc_content main">
													<h1 class="sc_title sc_title_regular sc_aligncenter margin_bottom_mini" data-animation="animated fadeInUp">Projects</h1>
													<div class="sc_section sc_aligncenter" data-animation="animated fadeInUp">
														<div class="sc_blogger sc_blogger_horizontal style_portfolio3 portfolioWrap">

															<section class="portfolio isotope folio3col" data-columns="3">
                                                                {% for project in project%}
																<article class="isotopeElement hover_Shift odd flt_252">
																	<div class="ih-item colored square effect6 scale_up">
																		<a href="/projects/">
																			<div class="img">
																				<img alt="Living Room Staircases" src="{{ project.img.url }}" style="height: 252px;">
																			</div>
																			<div class="info">
																				<div class="info-back">
																					<h4>{{ project.name }}</h4>

																					<div class="link-wrapper">View</div>
																				</div>
																			</div>
																		</a>
																	</div>
																</article>
															    {% endfor %}

															</section>
														</div>
														<div class="sc_button sc_button_style_global sc_button_size_medium squareButton global medium">
															<a href="/projects/" class="">VIEW MORE</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>



									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="wpb_wrapper">
												<div class="sc_section grey_section">
													<div class="sc_content main margin_top_small">
														<div class="columnsWrap sc_columns sc_columns_count_2">
															<div class="columns1_2 sc_column_item sc_column_item_1 odd first" data-animation="animated fadeInUp">
																<h3 class="sc_undertitle sc_title_regular">WHY CHOOSE US</h3>
																<div class="wpb_text_column wpb_content_element ">
																	<div class="wpb_wrapper">
																		<p>We turn your home into the coziest place on earth. Many year experience and hundreds of projects have made our team a professional on this area. We are attentive to our customers and we stand behind our promise to deliver timely and quality service. Our company does its work with the customer in mind. That is why your are getting the best service in the country to fulfill your most sophisticated demands. </p>
																	</div>
																</div>
															</div>
															<div class="columns1_2 sc_column_item sc_column_item_2 even" data-animation="animated fadeInUp">
																<h3 class="sc_undertitle sc_title_regular">SKILLS</h3>
																<div class="sc_skills sc_skills_bar no_padding sc_skills_horizontal" data-type="bar" data-subtitle="Skills" data-dir="horizontal">
																	<div class="sc_skills_info">Electrical</div>
																	<div class="sc_skills_info">95%</div>
																	<div class="sc_skills_item sc_skills_style_1 odd first">
																		<div class="sc_skills_count">
																			<div class="sc_skills_total" data-start="0" data-stop="95" data-step="1" data-max="100" data-speed="17" data-duration="1615" data-ed="">0</div>
																		</div>
																	</div>
																	<div class="sc_skills_info">Cabinet Repairs</div>
																	<div class="sc_skills_info">90%</div>
																	<div class="sc_skills_item sc_skills_style_1 even">
																		<div class="sc_skills_count">
																			<div class="sc_skills_total" data-start="0" data-stop="90" data-step="1" data-max="100" data-speed="30" data-duration="2700" data-ed="">0</div>
																		</div>
																	</div>
																	<div class="sc_skills_info">Plumbing Repairs</div>
																	<div class="sc_skills_info">99%</div>
																	<div class="sc_skills_item sc_skills_style_1 odd">
																		<div class="sc_skills_count">
																			<div class="sc_skills_total" data-start="0" data-stop="99" data-step="1" data-max="100" data-speed="31" data-duration="3069" data-ed="">0</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="wpb_wrapper">
												<div class="sc_content main partner_section">
													<div class="sc_section scrollbar_hide bg_tint_none sc_scroll_controls sc_scroll_controls_horizontal sc_scroll_controls_type_side" data-animation="animated fadeInUp">
														<div class="sc_scroll sc_scroll_horizontal swiper-slider-container scroll-container">
															<div class="sc_scroll_wrapper swiper-wrapper">
																<div class="sc_scroll_slide swiper-slide">

                                                                    {% for labour in labour %}
																	<figure class="sc_image  sc_image_align_left sc_image_shape_square">
																		<img src="{{ labour.img.url }}" alt="" style="height: 143px;width: 150px;"/>
																	</figure>
                                                                    {% endfor %}

																</div>
															</div>
															<div class="sc_scroll_bar sc_scroll_bar_horizontal"></div>
														</div>
														<ul class="flex-direction-nav">
															<li>
																<a class="flex-prev" href="#"></a>
															</li>
															<li>
																<a class="flex-next" href="#"></a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tagsWrap"></div>
								</div>  
							</article>  
						</section>  
					</div>    
				 
				</div>  
			</div>


		</div> 
	</div> 

	<div id="preloader" class="preloader">
	    <div class="preloader_image"></div>
	</div>

{% endblock %}

	<!--<script type='text/javascript' src='custom_tools/js/_customizer.js'></script>-->

</body>
</html>