{% extends 'basic.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block Title %}

<title>Services</title>
    {% endblock %}
</head>
{% block body %}
<body class="home page fullscreen top_panel_above sidemenu_left usermenu_show">


<div class="vc_row wpb_row vc_row-fluid">
										<div class="wpb_column vc_column_container vc_col-sm-12">
											<div class="wpb_wrapper">
												<div class="sc_content main">
													<h1 class="sc_title sc_aligncenter sc_title_regular" data-animation="animated fadeInUp">Services</h1>
													<h3 class="sc_undertitle sc_aligncenter sc_title_regular margin_bottom_small" data-animation="animated fadeInUp">Remodeling and Home Design</h3>
													<div class="sc_section sc_aligncenter">
														<div class="columnsWrap sc_columns sc_columns_count_3 margin_bottom_big" data-animation="animated fadeInUp">
															<div class="columns1_3 sc_column_item sc_column_item_1 odd first">
																<a href="/Maintenance_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-tools sc_title_bg sc_bg_animated">

																			</div>
																			<h5 class="sc_title sc_title_iconed">Maintenance</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Garage Door Repair. Carpentry. Termite Damage <br/>Repairs. Tub and shower caulking. Doors. <br/>Fences. Weatherproofing&#8230;</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>

															<div class="columns1_3 sc_column_item sc_column_item_2 even">
																<a href="/Wiring_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-wired sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Wiring</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Electrical. Cable TV. Internet. Network. Low<br/> Voltage. Door Bells. Home Theater. Sprinkler<br/> Systems. Phone Jacks. Computers.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_3 odd">
																<a href="/Tiling_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-construction3 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Tiling</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Kitchens. Baths. Back Splashes. Floors. <br/> Grout. Grout Repair. Grout sealing.<br/> Tile repair. Showers. Walls</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
														</div>
														<div class="columnsWrap sc_columns sc_columns_count_3" data-animation="animated fadeInUp">
															<div class="columns1_3 sc_column_item sc_column_item_1 odd first">
																<a href="/Audio_visual_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-widescreen sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Audio/Visual</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Home Theater Installation. Flat Panel TV<br/> Installation. Projectors. Sound Systems.<br/> Surround Sound.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_2 even">
																<a href="/Electrial_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-electric38 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Electrical</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Switches. Dimmers. Outlets. Recessed<br/> Lighting. Light Fixture Installation. Ceiling<br/> Fans. Ground Fault Outlet Installation.</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
															<div class="columns1_3 sc_column_item sc_column_item_3 odd">
																<a href="/Plumbing_service/">
																	<div class="sc_section">
																		<div class="sc_title_icon_animated">
																			<div class="sc_title_icon sc_title_top sc_size_medium icon-faucet1 sc_title_bg sc_bg_animated">
																			</div>
																			<h5 class="sc_title sc_title_iconed">Plumbing</h5>
																		</div>
																	</div>
																	<div class="sc_section ">
																		<div class="wpb_text_column wpb_content_element ">
																			<div class="wpb_wrapper">
																				<p>Leaks Repaired. Faucet Installation. Toilet<br/> Repair/Replacement. Faucet Leaks. Shut Off<br/> Valves. Kitchens. Toilet Repairs&#8230;</p>
																			</div>
																		</div>
																	</div>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


</body>
{% endblock %}
</html>